body{
    padding: 0;
    margin: 0;
    background-color: rgb(49, 73, 124);
}

nav{
    background-color: rgb(73, 89, 143);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

nav ul{
    display: flex;
    gap: 70px;
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    color: white;
    font-size: 1.5em;
}

nav ul li a:hover{
    color: rgb(43, 147, 245);
}

section{
    color: white;
    margin: 30px;
    align-items: center;
    margin-top: 50px;
}

.titulo{
    font-size: 2.0em;
}

.familia-gracie{
    display: flex;
}

section img{
    width: 400px;
    height: 250px;
    margin-right: 30px;
    margin-left: 70px;
}

.flex{
    display: flex;
}

.borda{
    border: 3px white solid;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
}

.imagem-kimono img{
    width: 500px;
    height: 600px;
}

.alinhamento{ 
    text-align: center;
    max-width: 800px;
}




